<div class="intro-text">
    <h2>Welcome to my Blog</h2>
    <button id="create-post-button" (click)="toggleCreatePostForm()">Create new post</button>
    <button (click)="toggleSortOrder()">{{newestFirst ? 'Sort by oldest first' : 'Sort by newest first'}}</button>
</div>

<div class="form-container">
    <form id="create-post-form" *ngIf="showForm" (ngSubmit)="onCreatePost()">
        <label for="post-title"><b>Title:</b>&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" id="post-title" name="post-title" [(ngModel)]="newPost.title"><br><br>
        <label for="post-message"><b>Message:</b>&nbsp;&nbsp;</label>
        <textarea id="post-message" name="post-message" [(ngModel)]="newPost.content"></textarea><br>
        <button type="submit">Submit</button>
    </form>
</div>

<div class="blog-post" *ngFor="let post of blogs">
    <h2 class="post-title">{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <button class="delete-button" (click)="onDeletePost(post.id)">Delete Post</button>
    <p><em>Published on {{ post.createdDate | date }}</em></p>
</div>