.intro-text {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.intro-text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 20px;
    margin-bottom: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
}

.blog-post {
    background-color: darkgray;
    border: 1px solid beige;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 0px;

    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}


.blog-post:not(:last-child) {
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.blog-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.blog-post .date {
    font-style: italic;
}

button {
    background-color: blanchedalmond;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

button:hover {
    /* background-color: blanchedalmond;
    color: black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.delete-button {
    position: absolute;
    bottom: 0;
    right: 0;
}