.intro-text {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.intro-text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 20px;
    margin-bottom: 0;
}